@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-hazel: #766357;
  --basic-text-gray: #333333;
  --basic-bg-gray: #eeeeee;
  --minor-text-gray: #666666;
  --minor-bg-gray: #f2f2f2;

  --decor-input: #a9a9a9;
  --decor-sort: #cacaca;
  --decor-range: #ababab;

  --basic-blue-hover: #669ec0;
  --basic-blue-click: #5496bd;
  --basic-hazel-hover: #604e43;
  --basic-hazel-click: #503e33;
  --input-hover: #ebebeb;
  --input-focus: #e5e5e5;
  --checkbox-disabled: #6a6a6a;
  --copyright-logo-click: #bdbbbc;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  width: 1200px;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-gray);
  background-color: var(--basic-white);
  box-shadow: 0 0 60px var(--basic-bg-gray);   /* Временно */

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

/* Global buttons */

button {
  text-align: center;
  vertical-align: middle;
  font: inherit;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
}

.button-blue {
  background-color: var(--basic-blue);
}

.button-blue:hover {
  background-color: var(--basic-blue-hover);
}

.button-blue:active {
  background-color: var(--basic-blue-click);
}

.button-hazel {
  background-color: var(--basic-hazel);
}

.button-hazel:hover {
  background-color: var(--basic-hazel-hover);
}

.button-hazel:active {
  background-color: var(--basic-hazel-click);
}

.button-blue:active .button-content,
.button-hazel:active .button-content {
  filter: opacity(0.3);
}

.social-button:active .button-icon {
  fill-opacity: 0.3;
}

/* Navigation */

.nav {
  margin: 0 73px;
  padding: 15px 0;
  line-height: 26px;
  font-weight: 700;
  position: relative;     /* Для позиционирования лого */
}

.nav-list {
  display: grid;
  grid-template-columns: 127px repeat(4, 200px) 127px;
}

.nav-item:first-child {
  grid-column: 1 / 2;
  justify-self: start;
}

.nav-item:nth-child(2) {
  grid-column: 2 / 3;
  justify-self: end;
}

.nav-item:nth-child(3) {
  grid-column: 5 / 6;
  justify-self: start;
}

.nav-item:last-child {
  grid-column: 6 / 7;
  justify-self: end;
}

.logo {                 /* Временно */
  position: absolute;
  left: 50%;
  margin-left: -69px;
  margin-top: -15px;
}

.nav-link {
  color: var(--basic-black);
}

.nav-link:hover {
  color: var(--basic-blue);
}

.nav-link:active {
  color: var(--basic-black);
  filter: opacity(0.3);
}

.nav-item-current .nav-link {
  color: var(--basic-hazel);
}

/* Intro */

.intro {
  background-color: var(--basic-white);
  text-align: center;
}

.intro-image {
  width: 1200px;
  height: 509px;
  background:
    url("../img/shape.png") no-repeat center bottom,
    var(--basic-blue) url("../img/bg.jpg") no-repeat;
  padding-top: 77.35px;
  box-sizing: border-box;
  margin-bottom: 42.5px;
}

.intro-slogan {
  width: 456.65px;
  height: 350.88px;
  margin: 0 auto;
}

.intro-info {
  margin: 0 auto 16.5px;
  min-height: 80px;
  vertical-align: top;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

/* Advantages */

/*.advantages {*/
/*  background-color: var(--basic-white);*/
/*  text-align: center;*/
/*}*/

/*.advantages-list-caption {*/
/*  line-height: 26px;*/
/*  margin-bottom: 51px;*/
/*}*/

/*.advantages-list {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-template-rows: min-content min-content 256px;*/
/*}*/

/*.advantage-item {*/
/*  background-color: var(--basic-bg-gray);*/
/*}*/

/*.real-city,*/
/*.devils-bridge {*/
/*  color: var(--basic-white);*/
/*  background-color: var(--basic-blue);*/
/*}*/

/*.real-city .advantage-title,*/
/*.devils-bridge .advantage-title {*/
/*  color: var(--basic-white);*/
/*}*/

/*.real-city {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr min-content;*/
/*  grid-template-rows: min-content 330px;*/
/*  grid-column: 1 / -1;*/
/*}*/

/*.devils-bridge {*/
/*  display: grid;*/
/*  grid-template-columns: min-content 1fr;*/
/*  grid-column: 1 / -1;*/
/*}*/

/*.real-city .advantage-item-text {*/
/*  grid-column: 1 / 2;*/
/*  grid-row: 1 / 2;*/
/*}*/

/*.real-city::before {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 800px;*/
/*  height: 256px;*/
/*  background-image: url("../img/city-view.jpg");*/
/*  grid-column: 2 / 3;*/
/*}*/

/*.devils-bridge::before {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 800px;*/
/*  height: 256px;*/
/*  background-image: url("../img/canyon.jpg");*/
/*}*/

/*.features-list {*/
/*  background-color: var(--basic-white);*/
/*  color: var(--basic-text-gray);*/
/*  grid-row: 2 / 3;*/
/*  grid-column: 1 / 3;*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-template-rows: 330px;*/
/*}*/

/*.advantage-title,*/
/*.feature-title {*/
/*  font-size: 21px;*/
/*  font-weight: 700;*/
/*  color: var(--basic-black);*/
/*}*/

.advantages {
  background-color: var(--basic-white);
  text-align: center;
  margin-bottom: 58px;
}

.advantages-list-caption {
  line-height: 26px;
  margin-bottom: 51px;
}

.advantages-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  flex-shrink: 0;
}

.advantage-item-text {
  background-color: var(--basic-bg-gray);
  width: 400px;
  min-height: 256px;
  padding: 47px 0 54px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.advantage-description {
  max-width: 310px;
  margin: 0 auto;
}

.real-city .advantage-item-text,
.devils-bridge .advantage-item-text {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.real-city .advantage-title,
.devils-bridge .advantage-title {
  color: var(--basic-white);
}

.real-city {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.devils-bridge {
  width: inherit;
  display: flex;
  align-items: center;
}

.real-city::before {
  content: "";
  width: 800px;
  height: 256px;
  background-image: url("../img/city-view.jpg");
  flex-shrink: 0;
  order: 1;
}

.devils-bridge::before {
  content: "";
  width: 800px;
  height: 256px;
  background-image: url("../img/canyon.jpg");
  flex-shrink: 0;
}

.features-list {
  background-color: var(--basic-white);
  color: var(--basic-text-gray);
  display: flex;
  flex-shrink: 0;
  order: 2;
}

.feature-item {
  width: 400px;
  min-height: 330px;
  padding-bottom: 82px;
  box-sizing: border-box;
}

.feature-description {
  max-width: 300px;
  margin: 0 auto;
}

.motel::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../img/motel.svg");
  margin: 60px auto 28px auto;
}

.food::before {
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background-image: url("../img/food.svg");
  margin: 61px auto 28px auto;
}

.gifts::before {
  content: "";
  display: block;
  width: 64px;
  height: 77px;
  background-image: url("../img/gifts.svg");
  margin: 55px auto 28px auto;
}

.advantage-title,
.feature-title {
  font-size: 21px;
  font-weight: 700;
  max-width: 150px;
  color: var(--basic-black);
  margin: 0 auto 25px auto;
}

.advantage-number {
  margin-bottom: 23px;
}

/* Booking */

.booking {
  background-color: var(--basic-white);
  text-align: center;
}

.booking-caption {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 4px;
}

.booking-info {
  line-height: 24px;
  padding: 23px 0;
  margin-bottom: 24px;
}

.booking .button-content {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.booking-item {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.booking-input {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--minor-bg-gray);
  border: 0;
}

.booking-input::-moz-placeholder {
  color: var(--basic-black);    /* все равно не работает в Firefox */
}

.booking-input::-webkit-input-placeholder  {
  color: var(--basic-black);
}

.booking-input:hover {
  background-color: var(--input-hover);
}

.booking-input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--input-focus);   /* не работает в Опере и Хроме */
}

.booking-input[name="check-in"],
.booking-input[name="check-out"] {
  background-image: url("../img/calendar.svg");   /* как правильно менять цвет? */
  background-position: right center;
  background-repeat: no-repeat;
}

/* Filters */

.filters {
  background: var(--basic-blue) url("../img/bg-catalog.jpg") no-repeat;
  color: var(--basic-white);
}

.filter-form {
  display: grid;
  margin: 0 73px;
  grid-template-columns: 127px 400px 200px 327px;
  grid-template-rows: min-content min-content;
  padding: 26.5px 0 32px;       /* разобраться с высотой формы */
}

.infrastructure-options {
  grid-row: 1 / -1;
}

.type-options {
  grid-row: 1 / -1;
  margin-left: 126px;
}

.infrastructure-options .filter-option,
.type-options .filter-option {
  margin-bottom: 25px;
}

.infrastructure-options .filter-option:last-child,
.type-options .filter-option:last-child {
  margin-bottom: 0;
}

.infrastructure-options .set-caption,
.type-options .set-caption {
  margin-bottom: 24px;
}

.price-options {
  grid-column: 4 / 5;
  justify-content: end;
}

.filter-button {
  grid-column: 4 / 5;
  grid-row: -2 / -1;
  width: min-content;
  height: min-content;
  margin: 0 auto;
}

.filter-form .set-caption {
  font-size: 16px;
  font-weight: 700;
}

.filter-button {
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

/* Sort */

.sort {
  background-color: var(--basic-white);
}

.sort-types {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort-option {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  filter: opacity(0.3);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort .sort-option-current {
  color: var(--basic-blue);
  filter: none;
  border: 0;
}

.sort-option:hover {
  color: var(--basic-blue);
  filter: none;
}

.sort-option:active {
  color: var(--basic-black);
  filter: none;
  border: 0;
}

.sort-option-order {
  color: var(--decor-sort);
}

.sort-option-order:hover {
  color: var(--basic-black);
}

.sort-option-order:active {
  color: var(--basic-blue);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
  text-align: left;
}

.catalog-item-title,
.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.catalog-item-title:hover {
  color: var(--basic-blue);
}

.catalog-item-title:active {
  color: var(--basic-black);
  filter: opacity(0.3);
}

.catalog-item-rating {
  background-color: var(--minor-bg-gray);
  color: var(--minor-text-gray);
  text-align: center;
}

/* Main footer */

.main-footer {
  margin: 0 73px;
  background-color: rgba(var(--basic-white), 0.9);
  color: var(--basic-black);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contacts {
  padding: 23px 0 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.socials {
  padding: 36px 0;
  height: 46px;
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6px;
}

.contacts-phone {
  margin-top: 9px;
}

.copyright {
  line-height: 26px;
  color: var(--basic-black);
  padding: 38px 0 41px;
}

.copyright-logo:hover .button-icon {
  fill: var(--basic-blue-hover);
}

.copyright-logo:active .button-icon {
  fill: var(--copyright-logo-click);
}
